/* Blurred Background Image */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('images/506.jpg') no-repeat center center fixed;
    background-size: cover;
    filter: blur(10px);
    z-index: -1;
 }
 